.gistRaw{
	border: 1px solid #dedede;
	margin-bottom: 1em;
	overflow: auto;
	word-wrap: normal;
	background-color: #f8f8ff;

	padding: 1em;
	font-size: 0.9em;

	.gistUrl{
		display:block;
		margin-top: 0.5em;
		font-size: 0.9em;
		text-align: right;
	}
}

.gist{
  line-height: 1.4em;
  font-size: 0.8em;
}
