header{
	background: #fff;
	margin: 0 auto 10px auto;
	@media screen and (min-width: $break-large) {
		border-radius: 0 0 3px 3px;
	}

	.wrap{
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
}

#myName{
	text-decoration:none;
	overflow:hidden;
	display:block;
	text-align:center;
	font-size: 38.5px;
	line-height: 40px;
	color: rgb(1, 39, 58);

	@media screen and (min-width: $break-small) {
		width: 360px;
	}
	@media screen and (min-width: $break-large) {
		padding: 20px 0 10px 0;
	}

	em{
		font-style: normal;
		display:block;
		font-size: 0.75em;
		color: #999;
	}
	div{
		display: none;
		@media screen and (min-width: $break-small) {
			background: url(../img/mike_rogers_good_looking_web_developer.jpeg);
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			width: 80px;
			height: 80px;
			border-radius: 40px;
			float:left;
			display:block;
			margin-right: 20px;
		}
		@media screen and (min-width: $break-large) {
			width: 100px;
			height: 100px;
			border-radius: 50px;
			margin-top: -10px;
		}
	}
}