---
---
// Load the normalizer to get everything back to normal
@import 'vendor/normalize';

// Setup base colours and layout
@import 'layout/palette';
@import 'layout/typography';
@import 'layout/structure';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/page_title';

// Add stuff that is going to be resued
@import 'components/article';
@import 'components/post_list';
@import 'components/resImg';
@import 'components/typed_js';
@import 'components/buttons';
@import 'components/gist';

// Page unique stuff.
@import 'pages/index';
@import 'pages/blog';
