---
# Docker Compose 2.4 is for local development
# https://www.heroku.com/podcasts/codeish/57-discussing-docker-containers-and-kubernetes-with-a-docker-captain - Source on that.
version: '2.4'

x-app: &app
  image: bridgetown:latest
  mem_limit: 512m
  build:
    context: .
    dockerfile: Dockerfile
    target: development
  env_file:
    - .env
  volumes:
    - .:/usr/src/app:cached
    - bundler:/usr/local/bundle:delegated
    - node_modules:/usr/src/app/node_modules:delegated

services:
  web:
    <<: *app
    command: >
      bash -c "bundle check || bundle install &&
      yarn install --check-files &&
      yarn start --host '0.0.0.0'"
    ports:
      - "${PORT:-4000}:4000"
      - "4001:4001"
      - "4002:4002"

volumes:
  bundler:
  node_modules: 
