---
layout: index
title: Mike Rogers - Ruby on Rails developer
meta:
  description: A Ruby on Rails developer from the UK's personal website. Showcases an overview of his skills and how to get in touch.
  index: true
  show_in_sitemap: true
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Berkshire, UK"
  },
  "email": "mailto:me@mikerogers.io",
  "image": "{{ site.production_url }}/img/mike-rogers.jpg",
  "jobTitle": "Ruby on Rails Developer",
  "name": "Mike Rogers",
  "url": "{{ site.production_url }}",
  "sameAs" : [
    "https://twitter.com/MikeRogers0",
    "https://github.com/mikerogers0",
    "https://teamtreehouse.com/rmikerogers0",
    "https://www.linkedin.com/in/mikerogers0",
    "https://plus.google.com/u/0/+MikeRogers0"
  ]
}
</script>

<div id="say-hello" class="page-title">
  <div class="container">
    <h1><span id="typed-text">Hello.<br />I'm <span class="my-name">Mike</span>, a Ruby on Rails developer.</span><span class="typed-cursor">|</span></h1>
  </div>
</div>

<div class="container">
  <h2>About me</h2>

  <p>I'm Mike Rogers, a Ruby on Rails developer from the UK. I've been a developer for a while now so I've used a lot of different languages, tools and libaries, but here is what I'm currently using regularly:</p>
  <ul class="capabilities">
    <li>
      <div class="icon">
        {% include logos/ruby_on_rails.svg %}
      </div>
      <div class="name">Ruby on Rails</div>
      <div class="since">Since 2013</div>
    </li>

    <li>
      <div class="icon">
        {% include logos/postgresql_elephant.svg %}
      </div>
      <div class="name">PostgreSQL</div>
      <div class="since">Since 2013</div>
    </li>
    
    <li>
      <div class="icon">
        {% include logos/heroku.svg %}
      </div>
      <div class="name">Heroku</div>
      <div class="since">Since 2013</div>
    </li>

    <li>
      <div class="icon">
        {% include logos/sass.svg %}
      </div>
      <div class="name">SASS</div>
      <div class="since">Since 2012</div>
    </li>

    <li>
      <div class="icon">
        {% include logos/git.svg %}
      </div>
      <div class="name">Git</div>
      <div class="since">Since 2011</div>
    </li>

    <li>
      <div class="icon">
        {% include logos/jquery.svg %}
      </div>
      <div class="name">jQuery</div>
      <div class="since">Since 2010</div>
    </li>
  </ul>
</div>

<div class="container">
  <h2>Find me</h2>
  <p>I'm pretty easy to find online, here are a few of the networks I'm on:</p>
  <ul class="capabilities">
    <li>
      <a href="https://github.com/mikerogers0" rel="me" class="icon" target="_blank">
        {% include logos/github.svg %}
      </a>
      <div class="name">GitHub</div>
    </li>

    <li>
      <a href="http://teamtreehouse.com/rmikerogers0" rel="me" class="icon" target="_blank">
        {% include logos/treehouse.svg %}
      </a>
      <div class="name">Treehouse</div>
    </li>

    <li>
      <a href="https://twitter.com/mikerogers0" rel="me" class="icon" target="_blank">
        {% include logos/tweeter.svg %}
      </a>
      <div class="name">Twitter</div>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/mikerogers0" rel="me" class="icon" target="_blank">
        {% include logos/link_in.svg %}
      </a>
      <div class="name">LinkedIn</div>
    </li>

    <li>
      <a href="https://www.youtube.com/user/rogem002" rel="me" class="icon" target="_blank">
        {% include logos/ytube.svg %}
      </a>
      <div class="name">YouTube</div>
    </li>

    <li>
      <a href="mailto:me+site@mikerogers.io?subject=Hi+from+your+site" rel="me" class="icon">
        {% include logos/email.svg %}
      </a>
      <div class="name">Email me</div>
    </li>
  </ul>
</div>

<div class="container">

  <div>
    <h2>Recent posts</h2>
    <ul class="post-list side-by-side">
      {% for post in site.categories['blog'] limit:5 %}
      <li>
        <a href="{{ post.url | drop_index }}">{{ post.title }}</a>
        <div class="meta">
          {{ post.date | date_to_string }}, 
          {{ post | readtime | pluralize: "minute" }} read
          {% if post.tags.size > 0 %} - {{ post.tags | join: ', ' }}{% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    <a href="/posts.html" class="btn">See all blog posts</a>
  </div>

  {% if 1 == 0 %}

  <div>
    <h2>Recent projects</h2>
    <ul class="post-list">
      <li>
        <a href="https://github.com/MikeRogers0/show-when-this">Show when this</a>
        <div class="meta">jQuery plugin to manage conditional showing/hiding of elements.</div>
      </li>
      <li>
        <a href="#">Sync2FA</a>
        <div class="meta">A Ruby On Rails project</div>
      </li>
    </ul>
  </div>

  {% endif %}
</div>
