<div class="rounded shadow-lg overflow-hidden flex flex-wrap flex-col sm:flex-row lg:flex-col">
  <a class="flex-1 bg-gray-50 p-3 block flex items-center" href="{{ project.url }}" target="_blank" rel="noopener">
    <img class="w-auto mx-auto rounded" src="/images/{{ project.image_path }}" alt="{{ project.name }} Logo" style="max-height: 12rem;">
  </a>
</div>
