<div class="project">
  <a href="{{ project.live_url }}" target="_blank" rel="noopener" class="btn btn--image">
    <img src="/images/{{ project.image_path }}" alt="{{ project.title }} Logo" width="180" height="90" loading="lazy">
  </a>
  <p>{{ project.description }}</p>
</div>
