<div class="flex flex-wrap flex-col sm:flex-row lg:flex-col">
  <a class="flex-1 bg-gray-50 p-1 block flex items-center max-w-xs mx-auto rounded shadow-lg" href="{{ project.url }}" target="_blank" rel="noopener">
    <img class="w-auto mx-auto rounded" src="/images/{{ project.image_path }}" alt="{{ project.name }} Logo" width="232" height="148" loading="lazy">
  </a>
</div>
