body, h1, h2, h3, h4, h5 {
  font-family: 'Comic Sans MS'
}

h1 {
  animation: wiggle 2s infinite;
}

img {
  animation: wiggle 2s infinite;
}

h1, h2, h3, h4, h5 {
  text-shadow: #eee 1px 1px 1px;
  text-transform: uppercase;
}

a {
  position: relative;

  &[href*="//"]:hover:after {
    position: absolute;
    content: " 👆 Clicking this will take you away from me :(";
    background: #fff;
    box-shadow: #eee 1px 3px 3px;
    top: 25px;
    left: 15px;
    width: 350px;
    color: #ff0000;
    z-index: 20;
  }

  &[href^="/"]:hover {
    text-transform: uppercase;
  }
}

.trail { /* className for the trail elements */
  position: absolute;
  margin-left: -10px;
  margin-top: 10px;
  height: 6px; width: 6px;
  border-radius: 3px;
  background: teal;
}
