<div class="video--thumbnail">
  <a href="{{ video.url }}">
    <img src="https://i1.ytimg.com/vi/{{ video.youtube_id }}/mqdefault.jpg" width="480" height="360" alt="video Thumbnail" />
  </a>

  <h2 class="video--thumbnail__title">
    <a href="{{ video.url }}">
      {{ video.title }}
    </a>
  </h2>
</div>
