<div class="video--thumbnail">
  <a href="{{ video.url }}" class="btn btn--image">
    <img src="https://i1.ytimg.com/vi/{{ video.youtube_id }}/mqdefault.jpg" width="180" height="90" alt="video Thumbnail" loading="lazy" />
  </a>

  <h2 class="video--thumbnail__title">
    <a href="{{ video.url }}">
      {{ video.title }}
    </a>
  </h2>
</div>
