<% wrap_layout :layout do %>
  <article>
    <h1><%= current_article.title %></h3>

    <%= yield %>

  </article>
  <aside>
    <p>Posted on <time datetime="<%= current_article.date.strftime('%Y-%m-%d') %>"><%= current_article.date.strftime('%A %b %e, %Y') %></time></p>
  </aside>
<% end %>
