<div class="bg-blue-900">
  <div class="container mx-auto py-10">
    <h2 class="text-white h1 text-center">Projects</h2>

    <div>
      <div class=" lg:py-12 lg:flex lg:justify-center">
        <div class="bg-white lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg overflow-hidden">
          <div class="lg:w-1/2">
            <div class="h-64 bg-cover lg:h-full" style="background-image:url('https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80')"></div>
          </div>
          <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
            <h2 class="text-3xl text-gray-800 font-bold">Typo CI</h2>
            <p class="mt-4 text-gray-600">A GitHub Application for checking Commits &amp; Pull Requests for spelling mistakes before merging.</p>
            <div class="mt-8">
              <a href="#" class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded">Start Now</a>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
