html {
  @apply bg-white;
}

@screen dark {
  html {
    @apply bg-cool-gray-900;
  }
}

body {
  @apply bg-gray-50 text-gray-900;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

@screen dark {
  body {
    @apply bg-gray-900 text-gray-50;
  }
}

a, .text-link {
  @apply text-blue-700 underline;

  &:hover {
    @apply no-underline;
  }
}

h1, h2, h3, h4 {
  @apply text-gray-900 font-semibold;
}

@screen dark {
  h1, h2, h3, h4 {
    @apply text-gray-100;
  }
}

h1, .h1 {
  @apply text-4xl mt-3 mb-3;
}

h2, .h2 {
  @apply text-2xl mt-3 mb-3;
}

h3, .h3 {
  @apply text-lg mt-3 mb-3;
}

h4, .h4 {
  @apply text-lg mt-3 mb-3;
}

p {
  @apply mb-3;
}

code {
  @apply text-pink-600 font-normal;
}

a > code {
  color: inherit;
}
