---
layout: default
---

<!--
https://brian-miller.webflow.io/project/vestibulum-turpis
https://tara-portfolio.webflow.io/portfolio/consequuntur-id-reprehenderit-non
-->

<article class="project">
  <header class="project__header">
    <h1>{{ page.title }}</h1>

    <p class="lead">{{ page.description }}</p>

    <ul>
      {% for stat in page.stats %}
        <li><strong>{{ stat[0] }}:</strong> {{ stat[1] }}</li>
      {% endfor %}
    </ul>

    <ul>
      <li><a href="#" class="btn btn--border">View Live Project</a></li>
      <li><a href="#" class="btn btn--border">View Source Code</a></li>
    </ul>

  </header>

  <aside class="project__preview">
    <img src="/images/{{ page.image_path }}" alt="{{ page.title }} Logo" width="232" height="148" loading="lazy">
  </aside>

  {{ content }}
</article>
