#header{
  border-bottom: 1px solid $lightDividerColour;
  overflow: hidden;
  padding: 0;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.95);

  @media screen and (min-width: 900px) {
    position: fixed;
  }

  a {
    display: block;
    color: $primaryTextColour;
    padding: 20px 20px 20px 20px;
    text-decoration: none;

    &:hover{
      color: $secondaryTextColour;
    }
  }

  #myName {
    float: left;
    border: none;
  }

  nav {
    float:right;
    display: none;
    @media screen and (min-width: 520px) {
      display: block;
    }
  }

  ul {
    list-style: none;
    margin: 0
  }
  
  li{ 
    float: left;
    border-right: solid $lightDividerColour 1px;

    &:first-child{
      border-left: solid $lightDividerColour 1px;
    }

    &:last-child{
    }
  }
}

#content{
  @media screen and (min-width: 900px) {
    padding-top: 60px;
  }
}


