body {
  background: $backgroundColour;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $primaryTextColour;
}

h1, h2, h3, h4, h5 {
  color: $darkPrimaryColour;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}


@media print {
  h1, h2, h3, h4, h5 {
    color: #000;
  }
}

a {
  color: $primaryColour;

  &:active, &:hover {
    color: $lightPrimaryColour;
  }
}

em, blockquote {
  color: $secondaryTextColour;
}
