// Used paragraphs of text, links and for headers
$primary: #484C55;
$primary-accent: lighten($primary, 25);
$secondary: #F38630;
$tertiary: #FA6900;

// Main background of the site, and buttons.
/*$primaryBg: #E0E4CC;*/
$primaryBg: #fff;
$secondaryBg: #69D2E7;
$secondaryBg-accent: lighten($secondaryBg, 10);
$tertiaryBg: #A7DBD8;

body {
  background: $primaryBg;
  font-family: source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $primary;
}

h1, h2, h3, h4, h5 {
  color: $secondary;
  font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
}

a {
  color: $secondaryBg;

  &:active, &:hover {
    color: $secondaryBg-accent;
  }
}
