pre, p code {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.9em;
  background: #fff;
}

p code {
  padding: 3px;
}

pre {
  padding: 9px 9px 9px 12px;
}

.gistRaw {
  pre {
    margin-bottom: 0.3em;
  }
  .url{
    display: block;
    text-align: right;
    font-size: 0.9em;
  }
}
