.jumbotron {
  padding-top: var(--spacing-6);
  margin-bottom: var(--spacing-9);

  h2 {
    text-align: center;
  }
}

.jumbotron--centered {
  text-align: center;
}

.jumbotron__action {
  margin-top: var(--spacing-12);
  text-align: center;
}

.jumbotron--xl {
  padding-top: var(--spacing-12);

  h1 {
    font-size: var(--font-size-8);
  }

  p {
    font-size: var(--font-size-5);
  }

  em {
    padding-left: var(--spacing-1);
    padding-right: var(--spacing-1);
    font-style: normal;
    border-bottom: 2px dotted var(--background-secondary);
  }
}

.jumbotron__image {
  @mixin shadow;
  border-radius: 9999px;
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}
