.projects--list {
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
  grid-gap: var(--spacing-6);
  gap: var(--spacing-6);

  @media (--viewport-md) {
    grid-gap: var(--spacing-12);
    gap: var(--spacing-12);
    grid-template-columns: repeat(3,minmax(0,1fr));
  }
}

.project {
  text-align: center;
}
