.video__list {
  display: grid;
  grid-template-columns: repeat(1,minmax(0,1fr));
  grid-gap: var(--spacing-4);
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-6);
  text-align: center;

  @media (--viewport-md) {
    grid-gap: var(--spacing-12);
    gap: var(--spacing-12);
    grid-template-columns: repeat(3,minmax(0,1fr));

    img {
      width: 100%;
      height: auto;
    }
  }
}

.video--thumbnail {

  .video--thumbnail__title {
    font-size: var(--font-size-4);
    text-align: center;
    margin-bottom: 0;
  }
}
