:root {
  --background-primary: #161e2e;
  --background-secondary: #02667C;
  --background-secondary--darken: #004C62;
  --background-tertiary: #003349;

  --text-primary: #f9fafb;
  --text-primary-darker: #a1a1ab;
  --text-muted: #d2d6dc;

  --link-primary: #c5d1ff;
  --link-secondary: #fff;

  --border-primary: #273241;
}
