.highlighter-rouge {
  pre.highlight {
    @apply px-3 py-4 break-normal overflow-x-scroll;
  }
}

div.highlighter-rouge {
  @apply mt-6 mb-6;
  border-radius: 0.25rem;
  overflow: hidden;
  /*box-shadow: inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.0);*/
}

div.highlighter-rouge[class^="language-"]:before {
  font-family: HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
  background: url('../../src/images/terminal-controls.svg') no-repeat 0.3rem 0.25rem, linear-gradient(to bottom, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: center;
  width: 100%;
  padding: 0.15rem 0;
  user-select: none;
  cursor: default;
  content: '📝 VIM';
  display: block;
}

div.highlighter-rouge.language-bash:before {
  content: '⌨️  Terminal';
}
