<footer class="mt-4 mb-3 small">
  <div class="container">
    <div class="row">
      <div class="col">
        &copy; <%= Date.today.year %> <a href="/">Mike Rogers</a>
      </div>
      <div class="col">
        <ul class="list-inline text-right">
          <li class="list-inline-item"><a href="/rss.xml">RSS Feed</a></li>
          <li class="list-inline-item"><a href="/posts.html">Blog</a></li>
          <li class="list-inline-item"><a href="https://github.com/MikeRogers0/MikeRogersIO" target="_blank">Source Code</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
