<footer class="mt-4 small">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="text-center text-md-left mb-3">
          &copy; <%= Date.today.year %> <a href="/">Mike Rogers</a>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <ul class="list-inline text-center text-md-right mb-3" role="navigation">
          <li class="list-inline-item"><a href="/rss.xml">RSS Feed</a></li>
          <li class="list-inline-item"><a href="/portfolio.html">Portfolio</a></li>
          <li class="list-inline-item"><a href="/posts.html">Blog</a></li>
          <li class="list-inline-item"><a href="https://github.com/MikeRogers0/MikeRogersIO" target="_blank" rel="noopener">Source Code</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
