#say-hello{
  background: $tertiaryBg url(../img/black-linen.png) repeat 0 0;
  display:block;
  padding: 25px 0;
  height: 275px;

  .container {
    text-align: center;
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
  }

  @media screen and (min-width: 900px) {
    padding: 50px 0;
    height: 300px;

    .container {
      font-size: 3em;
    }
  }
}

.capabilities{
  list-style:none;
  overflow: hidden;
  padding: 0;
  
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    display:block;
    padding: 20px 10px;
    text-align: center;
  }

  .icon {
    display: block;
    /*border: 1px solid $tertiary;*/
    border-radius: 5px;
    width: 105px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .name {}
  .since, .blurb {
    color: $primary-accent;
    font-size: 0.9em;
  }
  .read-more {}

}
