.post-list {
  padding: 0;
  list-style: none;
  
  li {
    padding-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    display: block;
    padding-bottom: 6px;
  }

  .description {
    margin: 0 0 6px 0;
  }

  .meta {
	color: $secondaryTextColour;
    font-size: 0.8em;
  }
}
