.resImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  img{
    width: 100%;
    height: 100%;
  }
}

.resVid{
  @extend .resImg;

  position:relative;
  padding-bottom: 40%; /* Gives it a nice widescreen ratio */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
