<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.meta.description != null %}
       <meta name="description" content="{{ page.meta.description }}">
    {% endif %}
    {% if page.meta.index == null %}<meta name="robots" content="noindex">{% endif %}
    <link rel="author" href="https://plus.google.com/105245695794314659553">
    <link rel="canonical" href="{{ site.production_url }}{{ page.url }}" />
    <link rel="alternate" type="application/rss+xml"  href="{{ site.production_url }}/rss.xml" title="Mike Rogers - Blog">

    <!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="container">
    <div class="wrap">
        <a id="myName" href="/">
            <div>
                <!-- Responsive image of me -->
            </div>
            Mike Rogers <em>Web Developer</em>
        </a>
    </div>
</header>
<div id="main" class="container">
    <div id="content" class="pure-g-r">
        {{ content }}
    </div>
    <footer class="pure-u-1">
        <div class="wrap">
            <div id="copyright">&copy; 2013 <a href="/">Mike Rogers</a></div>
            <div id="siteLinks"><a href="/rss.xml">RSS Feed</a> | <a href="/posts.html">Blog</a> | <a href="https://github.com/MikeRogers0/MikeRogersIO">Source Code</a></div>
        </div>
    </footer>
</div>
<!-- PageSpeed_Mod will minify and combine these. -->
<script src="/js/konami.js"></script>
<script src="/js/ga.js"></script>
<!--<script src="/js/gists.js"></script>-->
</body>
</html>