---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.date }}",
  "description": "{{ page.meta.description }}",
  "url": "{{ site.production_url }}{{ page.url | drop_index }}",
  {% if page.meta.image != null %}
  "image": "{{ site.production_url }}{{ page.meta.image }}",
  {% else %}
  "image": "{{ site.production_url }}/img/mike-rogers.jpg",
  {% endif %}
  "author": {
    "@type": "Person",
      "image": "{{ site.production_url }}/img/mike-rogers.jpg",
      "name": "Mike Rogers",
      "sameAs": "{{ site.production_url }}"
  }
}
</script>
 
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "{{ site.production_url }}/posts.html",
      "name": "Posts"
    }
  }]
}
</script>

<article role="main">
  {% include partials/page_title.html %}
  
  <div class="container">

    <div class="amazon-links">
      <iframe src="//rcm-eu.amazon-adsystem.com/e/cm?t=fulondes-21&o=2&p=42&l=ez&f=ifr&f=ifr" width="234" height="60" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;max-width:800px;max-height:600px;"></iframe>
      
      <iframe src="//rcm-eu.amazon-adsystem.com/e/cm?t=fulondes-21&o=2&p=26&l=ez&f=ifr&f=ifr" width="468" height="60" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;max-width:800px;max-height:600px;"></iframe>
      
      <iframe src="//rcm-eu.amazon-adsystem.com/e/cm?t=fulondes-21&o=2&p=48&l=ez&f=ifr&f=ifr" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;max-width:800px;max-height:600px;"></iframe>
    </div>
    
    
    <p class="metadata">
      Posted: {{ page.date | date_to_long_string }}, 
      {{ page | readtime | pluralize: "minute" }} read{% if page.tags.size > 0 %} - {{ page.tags | join: ', ' }}{% endif %}. Written by <a href="/" ref="author">Mike Rogers</a>
    </p>
    <section role="main">{{ content }}</section>

    <section class="subnotes metadata">
      <p>Want to share this post on 
        <a href="http://twitter.com/share?url={{ site.production_url }}{{ page.url | drop_index }}&text={{ page.title | url_encode }}&via=MikeRogers0" target="_blank">Twitter</a>, 
        <a href="https://news.ycombinator.com/submitlink?u={{ site.production_url }}{{ page.url | drop_index }}&t={{ page.title | uri_escape }}" target="_blank">HackerNews</a>, 
        <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url | drop_index }}" target="_blank">Facebook</a>, 
        <a href="http://reddit.com/submit?url={{ site.production_url }}{{ page.url | drop_index }}&title={{ page.title | uri_escape }}" target="_blank">Reddit</a> or 
        <a href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url | drop_index }}" target="_blank">Google Plus</a>? Awesome!
      </p>

      <p>If you want to discuss this post, feel free to tweet me (<a href="https://twitter.com/MikeRogers0" rel="me" target="_blank">@MikeRogers0</a>) or drop me an <a href="mailto:me+blog@mikerogers.io?subject={{ page.title | uri_escape }}">email</a>. Any code samples unless stated otherwise are licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">The MIT License (MIT)</a>. Spotted a mistake? Send me a <a href="https://github.com/MikeRogers0/MikeRogersIO/blob/master/{{ page.path }}" target="_blank">pull request</a> :)</p>
    </section>
  </div>
</article>
