.page-title {
  background: $darkPrimaryColour url(../img/bright-squares.png) repeat 0 0;
  display:block;
  padding: 25px 0;

  h1 {
    text-align: center;
    font-size: 2.5em;
    color: $onBgTextColour;
    font-weight: normal;
    margin: 0;
    text-shadow: 1px 1px 1px rgba($primaryTextColour, 0.2);
  }

  @media screen and (min-width: 900px) {
    padding: 30px 0;

    h1 {
      font-size: 3em;
    }
  }
  
  @media print {
    padding: 0;
    
    h1 {
      font-size: 2em;
      text-align: left;
    }
  }
}
