body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $primaryTextColour;
  background: #fff;
}

h1, h2, h3, h4, h5 {
  color: $darkPrimaryColour;
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
}

.wf-active {
  body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  }
}


@media print {
  h1, h2, h3, h4, h5 {
    color: #000;
  }
}

a {
  color: $primaryColour;

  &:active, &:hover {
    text-decoration: none;
  }
}

em, blockquote {
  color: $secondaryTextColour;
}

#content {
  background: $backgroundColour;
  padding-bottom: 20px;
}
