---
title: Privacy Policy
date: 2018-01-11
meta:
  description: My fun old Privacy Policy. Riveting stuff!
  index: true
---

<article>
  <header>
    <h1 class="mb-3 text-center">Full On Development Privacy Policy</h1>

    <section class="text-muted text-center small">
      <p>Last Updated <time datetime="<%= current_page.data.date.strftime('%Y-%m-%d') %>"><%= current_page.data.date.strftime('%A %b %e, %Y') %></time></p>
    </section>
  </header>

  <section>
    <p>This Privacy Policy explains what happens to any personal data that you provide to us or that we collect from you while you use our software or visit our website.</p>

    <h2>Information gathering and usage</h2>
    <p>Full On Development collects the email addresses of those who communicate with us via email. Full On Development also collects aggregated, anonymous user data regarding software usage. The user data we collect is never personally identifiable and is used to improve Full On Development and the quality of our products.</p>
    <p>Information gathering is kept to a bare minimum, and only for the purposes of core functionality or improvement of our products.</p>

    <h2>Your data</h2>
    <p>Full On Development uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run this website and its Chrome Extensions. Although Full On Development owns the code, databases, and all rights to the products, you retain all rights to your data. We will never share your personal data with a 3rd party without your prior authorization, and we will never sell data to 3rd parties.</p>

    <h2>Cookies</h2>
    <p>We use cookies to customize Web page content. Cookies are not required to use Full On Developments website, but are required to use its products.</p>

    <h2>Advertisement Services</h2>
    <p>Full on Development has partnered with <a href="https://remotezoo.com/">RemoteZoo</a> to provided relevant adverts around Blog Posts on the website mikerogers.io. No advertisements have been included within its self-hosted product such as its Google Chrome Extensions.</p>

    <h2>Security</h2>
    <p>We take security seriously. All information is transmitted securely over an encrypted protocol (SSL) and only transmitted when essential.</p>
    <p>While steps have been taken to keep your data within your country, data may be stored or processed on computers located in any country where we do business.</p>

    <h2>Changes</h2>
    <p>This policy is updated as infrequently as possible, however if you are concerned about how your information is used, please review it periodically.</p>

    <p class="text-muted small">If you feel that Full On Development is not following its Privacy Policy accurately, please contact us at <a href="mailto:me+privacy-policy@mikerogers.io?subject=Privacy%20Policy">me+privacy-policy@mikerogers.io</a>.</p>
  </section>
</article>
