<div class="bg-white border-gray-200 border-t border-solid mb-6 mt-4 pt-4 text-sm text-gray-800">
  <footer class="container">
    <div class="flex flex-wrap items-center justify-between">
      <div>
        © {{ "now" | date: "%Y" }} <a href="/" target="_blank" rel="me noopener">Mike Rogers</a>
      </div>
      <ul class="flex flex-wrap justify-center">
        <li class="px-3 py-2"><a href="/posts">Posts</a></li>
        <li class="px-3 py-2"><a href="/rss.xml">RSS Feed</a></li>
        <li class="px-3 py-2"><a href="https://github.com/MikeRogers0/MikeRogersIO" target="_blank" rel="noopener">Source Code</a></li>
      </ul>
    </div>
  </footer>
</div>
