<div class="bg-white border-gray-100 border-solid border-t-2 mb-4 mt-8 text-sm text-gray-800">
  <footer class="container py-4 mx-auto flex flex-wrap items-center justify-between">
    <div>
      © {{ "now" | date: "%Y" }} Mike Rogers
    </div>
    <div>
      Contact me at <%= site.metadata[:email] %>
    </div>
  </footer>
</div>
