<div class="bg-white dark:bg-cool-gray-900 border-gray-200 dark:border-gray-900 border-t border-solid mt-6 py-6 text-sm text-gray-muted">
  <footer class="container">
    <div class="flex flex-wrap items-center justify-between">
      <div>
        © {{ "now" | date: "%Y" }} <a href="/" target="_blank" rel="me noopener">Mike Rogers</a>
      </div>
      <ul class="flex flex-wrap justify-center">
        <li class="px-3"><a href="/posts">Posts</a></li>
        <li class="px-3"><a href="/rss.xml">RSS Feed</a></li>
        <li class="pl-3"><a href="https://github.com/MikeRogers0/MikeRogersIO" target="_blank" rel="noopener">Source Code</a></li>
      </ul>
    </div>
  </footer>
</div>
