<div class="footer">
  <footer class="container">
    <div>
      © {{ "now" | date: "%Y" }} <a href="/" target="_blank" rel="me noopener">Mike Rogers</a>
    </div>
    <ul class="list-inline">
      <li class="px-3 mb-4"><a href="https://link-archive.mikerogers.io/" target="_blank" rel="noopener">Link Archive</a></li>
      <li class="px-3 mb-4"><a href="https://talks.mikerogers.io/" target="_blank" rel="noopener">Talks</a></li>
      <li class="px-3 mb-4"><a href="/posts">Posts</a></li>
      <li class="px-3 mb-4"><a href="/rss.xml">RSS Feed</a></li>
      <li class="pl-3 mb-4"><a href="https://github.com/MikeRogers0/MikeRogersIO" target="_blank" rel="noopener">Source Code</a></li>
    </ul>
  </footer>
</div>
