<div class="navbar">
  <nav class="container navbar__inner">
    <div>
      <a href="/" rel="me">
        {% svg /images/prompt.svg width: 24 %}
        Mike Rogers
      </a>
    </div>
    <ul class="navbar__social-icons">
      <li>
        <a href="https://github.com/MikeRogers0" target="_blank" rel="noopener me">
          <span class="sr-only">Check me out on GitHub</span>
          {% svg /images/brand-github.svg width=30  %}
        </a>
        <li>
        </li>
        <a href="https://twitter.com/mikerogers0" target="_blank" rel="noopener me">
          <span class="sr-only">Follow me on Twitter</span>
          {% svg /images/brand-twitter.svg width=30 %}
        </a>
        <li>
        </li>
        <a href="https://www.youtube.com/c/MikeRogers0" target="_blank" rel="noopener me">
          <span class="sr-only">Check me out on YouTube</span>
          {% svg /images/youtube.svg width=30  %}
        </a>
      </li>
    </ul>
  </nav>
</div>
