<div class="border-blue-900 border-solid border-t-4 shadow bg-white mb-6">
  <nav class="container py-4 flex flex-wrap items-center justify-between">
    <div>
      <a href="/" class="text-gray-900 text-base no-underline hover:underline font-bold text-xl">
        {% svg /images/prompt.svg width: 24 %}
        Mike Rogers
      </a>
    </div>
    <div>
      <a href="https://github.com/MikeRogers0" class="text-gray-800 hover:text-gray-400 focus:text-gray-600 inline-block mr-6" target="_blank" rel="noopener">
        {% svg /images/brand-github.svg width=30 %}
      </a>
      <a href="https://twitter.com/mikerogers0" class="text-gray-800 hover:text-gray-400 focus:text-gray-600 inline-block" target="_blank" rel="noopener">
        {% svg /images/brand-twitter.svg width=30 %}
      </a>
    </div>
  </nav>
</div>
