<div class="border-blue-900 border-solid border-t-4 shadow bg-white mb-6">
  <nav class="container py-4 mx-auto flex flex-wrap items-center justify-between">
    <div>
      <a href="/" class="text-gray-900 text-base no-underline hover:underline font-bold text-xl">
        {% svg /images/prompt.svg width: 24 %}
        Mike Rogers
      </a>
    </div>
    <div>
    <a href="/about">About</a>
    <a href="/posts">Posts</a>
    </div>
  </nav>
</div>
