<div class="pull_request">
  <h3>
    <a href="{{ pull_request.url }}" target="_blank" rel="noopener">
      {{ pull_request.title }} (#{{ pull_request.number }})
    </a>
  </h3>

  <p>{{ pull_request.repository }}</p>
</div>
