<div class="container my-24">
  <h2 class="h1 text-center">
    Projects
  </h2>

  <div class="mt-6 grid gap-12 lg:grid-cols-3">

    {% for project in site.data.projects %}
      {% if project.featured %}
        {% render "projects/_project" project: project %}
      {% endif %}
    {% endfor %}

  </div>
</div>
