<div class="jumbotron">
  <h2 class="h1">
    Projects
  </h2>

  <div class="projects--thumbnails">

    {% for project in site.projects %}
      {% if project.featured %}
        {% render "projects/_project" project: project %}
      {% endif %}
    {% endfor %}
  </div>
</div>
