<h2 class="h1">
  Recent Contributions
</h2>

{% for pull_request in pull_requests limit: 5 %}
  {% render "pull_requests/_pull_request" pull_request: pull_request %}
{% endfor %}

<div class="jumbotron__action">
  <a href="/my-pull-requests" class="btn">See More Pull Requests</a>
</div>
