<div>
  <div class="container container--tight py-10">
    <h2 class="h1 text-center">Skills</h2>

    <div class="flex flex-wrap items-center justify-between">
      <div class="text-center">
        {% svg /images/ruby-on-rails.svg width=198 height=70 %}
        <div class="font-bold mt-3">Ruby On Rails</div>
        <div class="text-sm text-gray-800">Since 2013</div>
      </div>

      <div class="text-center">
        <a href="https://www.youracclaim.com/badges/bcdaeaae-14e1-49b1-a835-e0f893e14c71/public_url" target="_blank" rel="noopener" class="block">
          <img src="/images/aws-cloud-practitioner.png" alt="AWS Certified Cloud Practitioner Badge" width="150" class="mx-auto" />
        </a>
        <div class="font-bold mt-3">AWS Certified Cloud Practitioner</div>
        <div class="text-sm text-gray-800">Achieved 2020</div>
      </div>

      <div class="text-center">
        {% svg /images/heroku-logo-stroke-purple.svg width=100 height=75 %}
        <div class="font-bold mt-3">Heroku</div>
        <div class="text-sm text-gray-800">Since 2013</div>
      </div>
    </div>
  </div>
</div>
